Plug 'preservim/nerdtree'

set NERDTree

let g:NERDTreeMapActivateNode = 'go'
let g:NERDTreeMapPreview = 'o'

noremap <C-d> 10<C-e>
noremap <C-u> 10<C-y>

set visualbell
set noerrorbells

vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv
set ideajoin